body {
    background-color: #000000;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1.name {
    color: white;
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
}

.fill-red {
    background-color: maroon;
}

p.heading {
    color: #c0b3a0;
    font-style: italic;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.proj-main-vid, .proj-main-img {
    width: 100vw;
    height: 100vh;
    padding: 0;
    object-fit: fill;
    filter: brightness(20%);
}

/* ---------------------- */
/* --- screen overlay --- */
/* ---------------------- */
.screen-overlay {
    background-color: black;
    opacity: 0.5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    visibility: hidden;
    transition: 0.3s linear;
}

/* ------------------------------- */
/* --- navlinks and animations --- */
/* ------------------------------- */
.navlink-left:hover {
    color: #e14658;
    text-decoration: none;
    transform: translateX(10px);
    display: inline-block;
    transition: 0.2s;
}

.navlink-right:hover {
    color: #e14658;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.navlink-left {
    color: #c0b3a0;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    transition: 0.3s;
    font-size: 50px;
}

.navlink-right {
    color: #c0b3a0;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    transition: 0.3s;
    font-size: 20px;
}

div.navleft {
    position: fixed;
    z-index: 1000;
    top: 50px;
    left: 50px;
    visibility: hidden;
    transition: 0.7s;
}

div.navright {
    position: fixed;
    z-index: 1000;
    top: 50px;
    right: 50px;
    color: white;
}

/* ------------------------------------ */
/* --- project cards and animations --- */
/* ------------------------------------ */
.proj-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    opacity: 0.5;
    border-radius: 10%;
    transition: 0.3s;
}

.proj-img:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    opacity: 1;
    border-radius: 5%;
    transition: 0.3s;
}

.center-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.proj {
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: 0.3s;
    color:#c0b3a0;
}

.proj:hover {
    width: 100%;
    height: 100%;
    padding: 0px;
    transition: 0.3s;
    color: white;
}

/* --------------------- */
/* --- project pages --- */
/* --------------------- */
.proj-main-img {
    width: 100vw;
    height: 100vh;
}


/* ----------------------------------- */
/* --- big screens and big tablets --- */
/* ----------------------------------- */
.div-project, .div-resume, .div-bio, .div-contact, .div-project-details {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (min-width: 1600px) {
    .div-project, .div-resume, .div-bio, .div-contact, .div-project-details {
        padding-left: 250px;
        padding-right: 250px;
        color: white;
    }

    .div-divider {
    background-color: black;
    height: 300px;
    }

    div.navleft {
        visibility: visible;
    }
}

/* ------------------- */
/* --- text styles --- */
/* ------------------- */
.resume-heading, .bio-heading, .project-details-heading {
    color: #c0b3a0;
}

.resume-subheading, .bio-subheading, .project-details-subheading {
    font-family: 'EB Garamond', serif;
    color: white;
}

.resume-date {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color: black;
    background-color: #c0b3a0;
    padding: 3px 8px 3px 8px;
}

.resume-block {
    padding: 0px 40px 75px 40px;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer {
    padding: 50px;
    color: white;
    background: #22252c;
}

canvas {
    background-color: black;
}