body {
    background-color: #000000;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.proj-main-vid, .proj-main-img {
    width: 100vw;
    height: 100vh;
    padding: 0;
    object-fit: fill;
    filter: brightness(20%);
}

hr {
    color:#c0b3a0;
    background-color: #c0b3a0;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer {
    padding: 50px;
    color: white;
    background: #22252c;
}

canvas {
    background-color: black;
}

.bio-img {
    width: 400px;
    object-fit: cover;
    border-radius: 10%;
    transition: 0.3s;
    margin: 0px 50px 50px 50px;
}

/* ---------------------- */
/* --- screen overlay --- */
/* ---------------------- */
.screen-overlay {
    background-color: black;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transition: 0.3s linear;
    pointer-events: none;
}

/* ------------------------------- */
/* --- navlinks and animations --- */
/* ------------------------------- */
.navlink-left:hover {
    color: #e14658;
    text-decoration: none;
    transform: translateX(10px);
    display: inline-block;
    transition: 0.2s;
}

.navlink-right:hover {
    color: #e14658;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.navlink-left {
    color: #c0b3a0;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    transition: 0.3s;
    font-size: 50px;
}

.navlink-right {
    color: #c0b3a0;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    transition: 0.3s;
    font-size: 20px;
}

div.navleft {
    position: fixed;
    z-index: 1000;
    top: 50px;
    left: 50px;
    visibility: hidden;
    transition: 0.7s;
}

div.navright {
    position: fixed;
    z-index: 1000;
    top: 10px;
    right: 30px;
    color: white;
}

#indicator {
    position: fixed;
    z-index: 1000;
    top: 35vh;
    left: 25px;
    transition: 0.3s ease;
    opacity: 0;
    transform: scaleY(0);
    pointer-events: none;
}

/* ------------------------------------ */
/* --- project cards and animations --- */
/* ------------------------------------ */
.proj-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    opacity: 0.2;
    border-radius: 10%;
    transition: 0.3s;
}

.proj-img:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    opacity: 1;
    border-radius: 5%;
    transition: 0.3s;
}

.proj {
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: 0.3s;
    color:#c0b3a0;
}

.proj:hover {
    width: 100%;
    height: 100%;
    padding: 0px;
    transition: 0.3s;
    color: white;
}

.proj-name {
    font-family: 'Raleway', sans-serif;
}

.proj-category {
    font-family: 'Josefin Sans', sans-serif;
}

.center-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

/* --------------------- */
/* --- project pages --- */
/* --------------------- */
.proj-main-img {
    width: 100vw;
    height: 100vh;
}

/* ------------------- */
/* --- text styles --- */
/* ------------------- */
.name {
    color: white;
    font-size: 120px;
    font-family: 'Raleway', sans-serif;
}

.name-proj {
    color: white;
    font-size: 120px;
    font-family: 'Vujahday Script', cursive;
}

p.heading {
    color: #c0b3a0;
    font-style: italic;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.resume-heading, .bio-heading, .project-details-heading {
    font-family: 'Raleway', sans-serif;
    color: #c0b3a0;
}

.resume-subheading, .bio-subheading, .project-details-subheading {
    font-family: 'EB Garamond', serif;
    color: white;
}

.resume-date {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color: black;
    background-color: #c0b3a0;
    padding: 3px 8px 3px 8px;
}

.resume-block {
    padding: 0px 40px 75px 40px;
}


/* ----------------------------------- */
/* --- big screens and big tablets --- */
/* ----------------------------------- */
.div-project, .div-resume, .div-bio, .div-contact, .div-project-details {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (min-width: 0px) {
    .div-project, .div-resume, .div-bio, .div-contact, .div-project-details {
        padding-left: 25px;
        padding-right: 25px;
        color: white;
    }

    .div-divider {
        background-color: black;
        height: 100px;
    }

    div.navleft {
        visibility: visible;
    }

    .center-img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    .name {
        color: white;
        font-size: 90px;
    }

    .name-proj {
        color: white;
        font-size: 60px;
    }

    .navlink-left {
        color: #c0b3a0;
        display: inline-block;
        transition: 0.3s;
        font-size: 35px;
    }

    .bio-img {
        width: 250px;
        object-fit: cover;
        border-radius: 10%;
        transition: 0.3s;
        margin: 0px 50px 50px 50px;
    }

    div.navleft {
        position: fixed;
        z-index: 1000;
        top: 20px;
        left: 20px;
        visibility: visible;
        transition: 0.7s;
    }

    .proj-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
        opacity: 0.7;
        border-radius: 10%;
        transition: 0.3s;
    }

    .proj {
        width: 100%;
        height: 100%;
        padding: 10px;
        transition: 0.3s;
        color:white;
    }

    #indicator {
        position: fixed;
        z-index: 1000;
        top: 35vh;
        left: 15px;
        transition: 0.3s ease;
        opacity: 0;
        transform: scaleY(0);
        pointer-events: none;
    }
}

@media screen and (min-width: 768px) {
    .div-project, .div-resume, .div-bio, .div-contact, .div-project-details {
        padding-left: 50px;
        padding-right: 50px;
        color: white;
    }

    .div-divider {
        background-color: black;
        height: 150px;
    }

    div.navleft {
        visibility: visible;
    }

    .center-img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    .name {
        color: white;
        font-size: 100px;
    }

    .name-proj {
        color: white;
        font-size: 80px;
    }

    .navlink-left {
        color: #c0b3a0;
        display: inline-block;
        transition: 0.3s;
        font-size: 40px;
    }

    .bio-img {
        width: 400px;
        object-fit: cover;
        border-radius: 10%;
        transition: 0.3s;
        margin: 0px 50px 50px 50px;
    }

    div.navleft {
        position: fixed;
        z-index: 1000;
        top: 50px;
        left: 50px;
        visibility: visible;
        transition: 0.7s;
    }

    .proj-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
        opacity: 0.3;
        border-radius: 10%;
        transition: 0.3s;
    }

    .proj {
        width: 100%;
        height: 100%;
        padding: 10px;
        transition: 0.3s;
        color:#c0b3a0;
    }

    #indicator {
        position: fixed;
        z-index: 1000;
        top: 35vh;
        left: 25px;
        transition: 0.3s ease;
        opacity: 0;
        transform: scaleY(0);
        pointer-events: none;
    }
}

@media screen and (min-width: 992px) {
    .div-project, .div-resume, .div-bio, .div-contact, .div-project-details {
        padding-left: 100px;
        padding-right: 100px;
        color: white;
    }

    .div-divider {
        background-color: black;
        height: 300px;
    }

    div.navleft {
        visibility: visible;
    }

    .center-img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    .name {
        color: white;
        font-size: 110px;
    }

    .name-proj {
        color: white;
        font-size: 100px;
    }

    .navlink-left {
        color: #c0b3a0;
        display: inline-block;
        transition: 0.3s;
        font-size: 45px;
    }

    div.navleft {
        position: fixed;
        z-index: 1000;
        top: 50px;
        left: 50px;
        visibility: visible;
        transition: 0.7s;
    }

    .proj-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
        opacity: 0.3;
        border-radius: 10%;
        transition: 0.3s;
    }

    .proj {
        width: 100%;
        height: 100%;
        padding: 10px;
        transition: 0.3s;
        color:#c0b3a0;
    }

    #indicator {
        position: fixed;
        z-index: 1000;
        top: 35vh;
        left: 25px;
        transition: 0.3s ease;
        opacity: 0;
        transform: scaleY(0);
        pointer-events: none;
    }
}

@media screen and (min-width: 1200px) {
    .div-project, .div-resume, .div-bio, .div-contact, .div-project-details {
        padding-left: 200px;
        padding-right: 200px;
        color: white;
    }

    .div-divider {
        background-color: black;
        height: 300px;
    }

    div.navleft {
        visibility: visible;
    }

    .center-img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    .name {
        color: white;
        font-size: 120px;
    }

    .name-proj {
        color: white;
        font-size: 120px;
    }

    .navlink-left {
        color: #c0b3a0;
        display: inline-block;
        transition: 0.3s;
        font-size: 50px;
    }

    div.navleft {
        position: fixed;
        z-index: 1000;
        top: 50px;
        left: 50px;
        visibility: visible;
        transition: 0.7s;
    }

    .proj-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
        opacity: 0.3;
        border-radius: 10%;
        transition: 0.3s;
    }

    .proj {
        width: 100%;
        height: 100%;
        padding: 10px;
        transition: 0.3s;
        color:#c0b3a0;
    }

    #indicator {
        position: fixed;
        z-index: 1000;
        top: 35vh;
        left: 25px;
        transition: 0.3s ease;
        opacity: 0;
        transform: scaleY(0);
        pointer-events: none;
    }
}